<h1>Welcome to the Springfield Library</h1>


<p><a href="/book_list">Book Listing</a></p>
<p><a href="/author">Author Listing</a></p>
<p><a href="/patron">Patron</a></p>
<p><a href="/librarian">Librarian</a></p>
