<p><%= @patron.name()%></p>

<p>Current Books Checked Out!<p>



<form action="/delete_patron/<%= @patron.id() %>" method="post">
  <button type="delete">Delete a Patron</button>
</form>

<a href="/">Home</a>
<p><a href="/checkout_list/<%= @patron.id() %>">Checkout</a></p>
<p><a href="/book_list/<%= @patron.id() %>">Search Book</a></p>
